<?xml version="1.0" encoding="utf-8"?>
<package>
  <!-- Basic Package Info -->
  <info>
    <name>Adhoc Workflow Voters</name>
    <label>Adhoc Workflow Voters</label>
    <version>12.0.2</version>
    <version_label>12.0R1</version_label>
    <type>aia</type>
    <owner>Aras Corporation</owner>
    <description>This solution adds assignments to the current activity accessed from the "Worflow
Completion Dialog". Assignments are called voters here. From an extra button "View other voters" the current list of assignments can be viewed.</description>
    <copyright>©2020 Aras Corporation</copyright>
    <package_icon>package.ico</package_icon>
    <more_information_url>
    </more_information_url>
    <tool_minimal_version_required>1.7</tool_minimal_version_required>
  </info>
  <!-- Installation Process -->
  <installation do_backup="false">
    <module id="IS" label="Code tree update" description="Copy files into the code tree (modifies core service: InBasket-VoteDialog.aspx)" required_properties="Innovator.Dir">
	  <echo>Adding code tree patches to folder: ${Innovator.Dir}/Client</echo>
      <copy todir="${Innovator.Dir}/" failonerror="true">
        <fileset basedir="${Package.Dir}/CodeTree/Innovator">
          <include name="**" />
        </fileset>
      </copy>
    </module>
    <module id="DB" label="Import into Innovator DB" description="Install module db" required_properties="Innovator.URL|Innovator.DB|Innovator.Username|Innovator.Password">
	  <echo>Checking, for valid innovator relases '12SP8,12SP9' and if required standard apps "PE" exist</echo>
      <dependencies>
        <or>
          <innovator version="12.0 SP5" />
          <innovator version="12.0 SP8" />
          <innovator version="12.0 SP9" />
        </or>
		<application exists="true" name="com.aras.innovator.solution.PLM" >
		</application>
      </dependencies>
	  <echo>Importing rollup-utilities</echo>
      <import dir="${Package.Dir}/imports/" mfile="${Package.Dir}/imports/imports.mf" failonerror="true" />
    </module>
  </installation>
</package>